:root {
  --color-bg: #0d1117;
  --color-fg: #ffffff;
  --pre-code-bg: #161b22;
  --code-bg: #505050;
  --border-dark: 1px solid #191e24;
  --border-light: 1px solid #22282e;
  --border-dark-colour: #191e24;
  --border-light-colour: #22282e;
}

@media (prefers-color-scheme: light) {
  :root {
    --color-bg: #ffffff;
    --color-fg: #000000;
    --pre-code-bg: #f6f8fa;
    --code-bg: #eff1f3;
  }
}

@media (prefers-color-scheme: dark) {
  :root {
    --color-bg: #0d1117;
    --color-fg: #ffffff;
    --pre-code-bg: #161b22;
    --code-bg: #505050;
  }
}
html,
body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Noto Sans",
    Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
  background-color: var(--color-bg);
  color: var(--color-fg);
  scroll-behavior: smooth;
}

#nav-bar {
  position: fixed;
  min-width: 230px;
  top: 0px;
  width: 230px;
  height: 100%;
}

#nav-bar h2 {
  text-align: center;
}
#nav-bar ul {
  list-style: none;
  width: 100%;
  padding: 0px;
}
#nav-bar li {
  border-top: 1px solid var(--border-dark-colour);
}
#nav-bar a {
  display: block;
  width: inherit;
  height: inherit;
  color: var(--color-fg);
  padding: 10px;
  text-decoration: none;
}
#nav-bar a:hover {
  color: var(--color-bg);
  background-color: var(--color-fg);
}
#documentation {
  top: 0px;
  border: var(--border-light);
  padding: 0px 30px 30px 30px;
  margin-left: 230px;
  margin-right: 15%;
  position: absolute;
  display: block;
}

#documentation h1 {
  padding-bottom: 10px;
  border-bottom: var(--border-dark);
}

#documentation h2 {
  padding-bottom: 10px;
  border-bottom: var(--border-dark);
}

#documentation h3 {
  padding-bottom: 10px;
}

#badges {
  padding-left: 0;
}

#badges li {
  display: inline-block;
}

#check-boxes {
  list-style: none;
}

#check-boxes ul {
  list-style: none;
}

#to-top-button {
  position: fixed;
  bottom: 20px;
  right: 20px;
  text-decoration: none;
  padding: 10px;
  color: var(--color-bg);
  background-color: var(--color-fg);
  border-radius: 50px;
}
#to-top-button:hover {
  color: var(--color-fg);
  background-color: var(--color-bg);
}
code {
  padding: 3.2px 6.4px;
  font-size: 85%;
  font-family: ui-monospace, SFMono-Regular, SF Mono, Menlo, Consolas,
    Liberation Mono, monospace;
  background-color: var(--code-bg);
  border-radius: 6px;
}

pre {
  font-family: ui-monospace, SFMono-Regular, SF Mono, Menlo, Consolas,
    Liberation Mono, monospace;
  background-color: var(--pre-code-bg);
  border-radius: 8px;
  padding: 15px;
  margin: 10px;
  font-size: 13.6px;
  word-wrap: break-word;
  white-space: pre-line;
}

@media only screen and (max-width: 925px) {
  #nav-bar {
    position: static;
    min-width: 230px;
    top: 0px;
    width: 100%;
  }

  #documentation {
    border: none;
    padding: 0px 10px;
    margin: 0px 10px;
    position: static;
    display: block;
  }
}
